.reveal .white {
  color: #FFFFFF;
}

.reveal .gray {
  color: #777;
}

.reveal .red {
  color: #F00;
}

.reveal .black {
  color: #000;
}

.reveal .big {
  font-size: 1.9em;
}

.reveal pre.inline {
  box-shadow: none;
}

.reveal img.inline {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin: 0;
  vertical-align: middle;
}

.reveal a.image {
  text-decoration: none;
}

.reveal a:hover img.inline {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.reveal .left {
  float: left;
}

.reveal .right {
  float: right;
}

.reveal .hidden {
  visibility: hidden;
}

.reveal pre code {
  max-height: none;
}

.reveal .shadow {
  text-shadow: 1px 1px 2px #444;
}

.reveal .pixel {
  font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: none;
}

.copyright {
  position: fixed;
  background: yellow;
  right: 1em;
  bottom: 1em;
  padding: 0.2em !important;
}

.copyright a {
  display: block;
  color: light;
  font-size: 0.5em;
}

pre {
  font-size: 24px !important;
  text-align: left !important;
}
