<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="RailsConf 2019 presentation about Actionable Errors.">
    <meta name="author" content="Genadi Samokovarov">

    <title>Resolve Errors Straight from the Error Pages – RailsConf 2019</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <%= yield %>
      </div>
    </div>

    <script type="text/javascript">
      Reveal.initialize({
        width:  '100%',
        height: '100%',
        margin: 0.05,
        controls: false,
        progress: false,
        history: true,
        center: false,
        rollingLinks: false,
        transition: 'none',
        backgroundTransition: 'fade',
        dependencies: [
          {
            src: '<%= javascript_path "/js/highlight/highlight.js" %>',
            async: true,
            callback: function() {
              hljs.initHighlightingOnLoad();
            }
          }
        ]
      });
    </script>
  </body>
</html>

